.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header-tools {
    width: 100%;
    height: 20px;
    background-color: #343a40;
    -webkit-app-region: drag;
}

.header {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    min-width: 768px;
    height: 50px;
    background-color: #343a40;
    user-select: none;
}