.check-btn {
    height: 40px;
    width: 40px;

    background-image: url("../../../images/check.svg");

    background-repeat: no-repeat;
    background-size: contain;
}
.check-btn:hover {
    background-color: rgba(48, 166, 245, 0.5);
}
