.close-btn {
    height: 40px;
    width: 40px;

    background-image: url("../../../images/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.close-btn:hover {
    background-color: rgba(253, 5, 5, 0.5);
}
