.modal-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    max-height: 90%;
    min-height: fit-content;
    width: 80%;
    max-width: max-content;
    min-width: fit-content;
    
    z-index: 30;
    margin: auto;
   
    background-color: rgba(241, 241, 241, 0.4);
    backdrop-filter: blur(12px);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    backface-visibility: hidden;
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: .5s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
       
        opacity: 0.0;
    }

    100% {
        -webkit-transform: scale(1);
        
        opacity: 1;
    }
}

.slideDownIn {
    animation-name: slideDownIn;
    -webkit-animation-name: slideDownIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
}

@keyframes slideDownIn {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(8%);

    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDownIn {
    0% {
        -webkit-transform: translateY(-100%);
    }

    50% {
        -webkit-transform: translateY(8%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

