.modal-content-grid {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: auto;
    height: 100%;
}
.modal-content-grid-settings-container {
    display: grid;
    grid-template-rows: 50px 150px;
}
.modal-content-grid-settings-note {
    grid-column-start: 1;
    grid-column-end: 3;
}
.modal-content-grid-settings-unit {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.modal-content-grid-settings-employee {
    grid-column-start: 3;
    grid-column-end: 5;
}
.modal-content-grid-settings-employee-list {
    display: grid;
    grid-template-rows: 50px;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}
.modal-content-grid-settings-title {
    display: grid;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}
.modal-content-grid-settings-textarea {
    display: grid;

    padding: 10px;
}
.modal-content-grid-settings-textarea textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 1;

    padding: 0;

    border: 1px solid rgba(179, 172, 172, 0.5);
    border-radius: 7px;

    outline: none;
    resize: none;
    overflow: auto;
}
.modal-content-grid-settings-textarea :hover {
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
}

.modal-content-grid-settings-textarea textarea::-webkit-scrollbar {
    width: 2px;
    height: 0;
}
.modal-content-grid-settings-textarea textarea::-webkit-scrollbar-thumb {
    background-color: #343a40;
}
.modal-content-grid-settings-input {
    display: grid;
    align-items: start;
    padding: 10px;
}
.modal-content-grid-settings-input input {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 1;
    height: 40px;
    padding: 0;
    border-radius: 7px;
    border: 1px solid rgba(179, 172, 172, 0.5);
    outline: none;
}

.modal-content-grid-settings-input :hover {
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
}

.modal-content-grid-settings-list {
    display: grid;
    gap: 10px;

    align-content: start;

    padding: 10px;
}
.modal-content-grid-settings-employee .modal-content-grid-settings-input {
    grid-template-columns: 1fr 52px;
}
.plus-btn {
    height: 38px;
    width: 38px;

    margin-left: 10px;
    border: none;

    background-image: url("../../../images/plus_only-1.svg");
    background-color: rgba(100, 148, 237, 0.5);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.plus-btn:hover {
    transform: scale(1.1);
    box-shadow: -2px -2px 8px 0 rgba(45, 45, 45, 0.2), 2px 2px 8px 0 rgba(45, 45, 45, 0.2);
}

.plus-btn:active {
    transform: scale(1);
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #dbd9d9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #dbd9d9;
    opacity: 0.3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  
    background-color: #595a5a;
    transition: 5ms;
}
