.modal-content-grid-edit {
      display: grid;
    /* grid-template-rows: repeat(3, 200px); */
    grid-template-columns: 1fr 1fr 1fr;

    height: 100%;
}
.modal-content-grid-canvas {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;

  /* grid-row-start: 1;
  grid-row-end: 3; */

  background: #ccc;
}
.modal-content-grid-tools-left {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;

  /* grid-row-start: 1;
  grid-row-end: 3; */

  background: rgb(107, 109, 223);
}
.modal-content-grid-tools-right {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;

  /* grid-row-start: 1;
  grid-row-end: 3; */

  background: rgb(107, 109, 223);
}