.modal-content-grid-edit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  height: 100%;
}
.modal-content-grid-canvas {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;

  background: #ccc;
}
.modal-content-grid-tools-left {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;

  /* grid-row-start: 1;
  grid-row-end: 3; */

  background: rgb(107, 109, 223);
}
.modal-content-grid-tools-right {
  display: grid;

  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 1fr;

  grid-gap: 5px 5px;

  grid-column-start: 3;
  grid-column-end: 4;

  margin: 5px;

  /* background: rgb(107, 109, 223); */
}

.modal-content-grid-tools-right-hand{
  background-image: url('../../img/handBtn.svg');
  background-repeat:no-repeat;
  background-position: center center;
}
.modal-content-grid-tools-right-hand-active{
  background-image: url('../../img/handBtnActive.svg');
  background-repeat:no-repeat;
  background-position: center center;
}
.modal-content-grid-tools-right-arrow{
  background-image: url('../../img/arrow-down-left-square.svg');
  background-repeat:no-repeat;
  background-position: center center;
}
.modal-content-grid-tools-right-arrow-active{
  background-image: url('../../img/arrow-down-left-square-active.svg');
  background-repeat:no-repeat;
  background-position: center center;
}
