.modal-container {
    display: flex;
    flex-direction: column;

    width: 80%;
    // width: fit-content;
    height: max-content;
    /* max-height: 760px; */
    // max-width: 1120px;
    max-width: max-content;

    position: fixed;
    z-index: 30;

    margin: auto;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #f8f9fa;

    border: 1px solid #000;
}

// .set-photo-table-data {
//     max-height: 440px;
// }

// .edit-photo-785 {
//     max-width: 785px;
// }
// .edit-photo-960 {
//     max-width: 960px;
// }
// .edit-photo-1010 {
//     max-width: 1010px;
// }
