.modal-content-grid {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: 1fr 1fr 1fr 1fr;

    height: 100%;

    /* box-sizing: border-box; */

    /* max-height: 710px; */

    /* font-family: "Roboto"; */
    /* color: #fff; */

    /* padding: 20px 0; */
}
.modal-content-grid-settings-container {
    display: grid;
    grid-template-rows: 50px 150px;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: aqua;
}
.modal-content-grid-settings-title {
    display: grid;
    align-items: center;

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
}
.modal-content-grid-settings-textarea {
    display: grid;

    padding: 10px;
}
.modal-content-grid-settings-textarea textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 1;

    border: 1px solid #000;
    border-radius: 0;
    outline: none;
    resize: none;
}
