.modal-content-grid-settings-list-item {
    display: grid;
    grid-template-columns: 1fr 52px;
}
.modal-content-grid-settings-list-item-name {
    display: grid;
    align-items: center;

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;

    height: 40px;

    border: 1px solid #000;
}
.modal-content-grid-settings-list-item-del-btn {
    height: 42px;
    width: 42px;

    margin-left: 10px;

    background-image: url("../../img/plus-cros.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
