.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    box-sizing: border-box;

    max-height: 710px;

    font-family: "Roboto";
    color: #fff;
}
.modal-content img {
    object-fit: contain;
    object-position: center center;

    height: 100%;
    width: 100%;
}

.modal-content-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    box-sizing: border-box;

    max-height: 710px;

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}
.modal-content-data img{
    object-fit: contain;
    object-position: center top;

    height: 65%;
    width: 65%;

    margin-top: 20px;
}
.modal-content-title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    height: 50px;
    width: 300px;
}
.modal-content-data textarea {
    display: flex;
    justify-content: center;
    
    width: 800px;
    /* max-width: 800px; */
    /* min-width: 400px; */

    border: 1px solid #000;
    border-radius: 0;

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 1;

    outline: none;
    resize:none;
    padding: 0;
}
.modal-content-data input {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200px;

    border: 1px solid #000;
    border-radius: 0;

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;

    outline: none;
}

/* illustration */
