.modal-container {
    display: flex;
    flex-direction: column;

    width: 80%;
    max-height: 760px;
    max-width: 1120px;

    position: fixed;
    z-index: 20;

    margin: auto;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #F8F9FA;

    border: 1px solid #000;
}

.set-photo-table-data {
    max-height: 440px;
}