.modal-content-grid {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: 1fr 1fr 1fr 1fr;

    height: 100%;
}
.modal-content-grid-settings-container {
    display: grid;
    grid-template-rows: 50px 150px;
}
.modal-content-grid-settings-note {
    grid-column-start: 1;
    grid-column-end: 3;
}
.modal-content-grid-settings-unit {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.modal-content-grid-settings-employee {
    grid-column-start: 3;
    grid-column-end: 5;
}
.modal-content-grid-settings-employee-list {
    display: grid;
    grid-template-rows: 50px;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}
.modal-content-grid-settings-title {
    display: grid;
    align-items: center;

    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
}
.modal-content-grid-settings-textarea {
    display: grid;

    padding: 10px;
}
.modal-content-grid-settings-textarea textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 1;

    padding: 0;

    border: 1px solid #000;
    border-radius: 0;
    outline: none;
    resize: none;
}
.modal-content-grid-settings-input {
    display: grid;
    align-items: start;

    padding: 10px;
}
.modal-content-grid-settings-input input {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    line-height: 1;

    height: 40px;

    padding: 0;

    border: 1px solid #000;
    border-radius: 0;
    outline: none;
}
.modal-content-grid-settings-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    align-content: start;

    padding: 10px;
}
.modal-content-grid-settings-employee .modal-content-grid-settings-input {
    grid-template-columns: 1fr 52px;
}
.plus-btn {
    height: 42px;
    width: 42px;

    margin-left: 10px;

    background-image: url("../../img/plus-square.svg");
    /* background-color:#000; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.plus-btn:hover {
    background-color: rgba(250, 250, 250, 0.5);
}
