body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    max-width: 1400px;
    min-width: 768px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border: 1px solid #000;
}
.header-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.header {
    display: flex;
    flex-grow: 1;
    max-width: 1400px;
    min-width: 768px;
    height: 50px;
    background-color: #343a40;
}
.logo {
    align-items: center;
    margin: 0 10px 0 30px;
    font-size: 24px;
    font-family: "Roboto";
    color: #fff;
}
.logo,
.menu {
    display: flex;
}
.menu {
    font-size: 14px;
}
.menu-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.menu-item a {
    color: #fff;
    text-decoration: none;
}
.menu-item a:hover {
    color: #fff;
}
.menu-not-active a {
    color: #6c757d;
}
.file {
    display: none;
}
.main-wrapper {
    justify-content: center;
    width: 100%;
}
.main,
.main-wrapper {
    display: flex;
    flex-grow: 1;
}
.main {
    max-width: 1400px;
    min-width: 768px;
    padding: 10px;
    max-height: calc(100vh - 52px);
    box-sizing: border-box;
}
.workplace {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 220px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    font-family: "Roboto";
    margin-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #000;
    box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.workplace::-webkit-scrollbar {
    width: 3px;
}
.workplace::-webkit-scrollbar-track {
    background-color: #6c757d;
}
.workplace::-webkit-scrollbar-thumb {
    background-color: #343a40;
}
.workplace-item {
    border: 1px solid #000;
}
.workplace-item,
.workplace-item-new {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
    height: 220px;
    margin: 10px 0 0;
}
.workplace-item-new {
    border: 1px dashed #000;
}
.workplace-item-new-hovered {
    background-color: #c4c4c4;
}
.workplace-item-name {
    display: flex;
    flex-basis: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    pointer-events: none;
}
.workplace-item-img {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.workplace-item-text {
    display: flex;
    flex-basis: 50px;
    align-items: center;
    font-size: 10px;
    line-height: 1;
    text-align: center;
}
.workplace-item-plus {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-image: url(/static/media/plus-circle-dotted.2077d00b.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50px 50px;
    pointer-events: none;
}
.workplace-data-btn {
    display: flex;
    flex-basis: 200px;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    margin: 10px 0 0;
    border: 1px solid #000;
}
.workplace-data-btn:hover {
    cursor: default;
}
.gallery,
.workplace-data-btn:hover {
    box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
}
.gallery {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 518px;
    flex-wrap: wrap;
    max-width: 1150px;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0 4px 10px 0;
    border: 1px solid #000;
    overflow-y: auto;
}
.gallery::-webkit-scrollbar {
    width: 6px;
}
.gallery::-webkit-scrollbar-track {
    background-color: #6c757d;
}
.gallery::-webkit-scrollbar-thumb {
    background-color: #343a40;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    flex-basis: 132px;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    line-height: 1;
    height: 213px;
    margin: 10px 0 0 10px;
}
.gallery-item-hide {
    opacity: 0.3;
}
.gallery-item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    text-align: center;
}
.gallery-item-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 188px;
}
.gallery-item-img img {
    object-fit: scale-down;
    object-position: top center;
    height: 100%;
    width: 100%;
}
.lightening-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 98%, 0.5);
    z-index: 10;
}
.menu-btns {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.check-btn {
    height: 50px;
    width: 50px;
    background-image: url(/static/media/check.f0421310.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.check-btn:hover {
    background-color: hsla(0, 0%, 98%, 0.5);
}
.close-btn {
    height: 50px;
    width: 50px;
    background-image: url(/static/media/close.96d225f3.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.close-btn:hover {
    background-color: hsla(0, 0%, 98%, 0.5);
}
.modal-header {
    display: flex;
    flex-shrink: 0;
    height: 50px;
    background-color: #343a40;
}
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    max-height: 710px;
    font-family: "Roboto";
    color: #fff;
    padding: 20px 0;
}
.modal-content img {
    object-fit: contain;
    object-position: center center;
    height: 100%;
    width: 100%;
}
.modal-content-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    max-height: 710px;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    padding: 20px 0;
}
.modal-content-data-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.modal-content-data-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-content-data img {
    object-fit: contain;
    object-position: center top;
    height: 65%;
    width: 65%;
}
.modal-content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    width: 300px;
}
.modal-content-data textarea {
    line-height: 1;
    resize: none;
    padding: 0;
}
.modal-content-data input,
.modal-content-data textarea {
    display: flex;
    justify-content: center;
    width: 300px;
    border: 1px solid #000;
    border-radius: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    text-align: center;
    outline: none;
}
.modal-content-data input {
    align-content: center;
}
.modal-content-data input[type="number"],
.modal-content-data input[type="text"] {
    padding: 0;
}
.modal-content-data select {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 300px;
    border: 1px solid #000;
    border-radius: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    outline: none;
}
.modal-content-data-controls {
    display: flex;
    width: 700px;
}
.modal-content-data-controls-orientation,
.modal-content-data-controls-zoom {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.modal-content-data-controls-orientation-title,
.modal-content-data-controls-zoom-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}
.modal-content-data-controls-orientation-horizontal,
.modal-content-data-controls-orientation-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
    font-size: 18px;
    cursor: pointer;
}
.modal-content-data-controls-zoom-range {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}
.modal-content-data-controls-zoom-range input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
}
.modal-content-data-controls-zoom-range input[type="range"]:focus {
    outline: none;
}
.modal-content-data-controls-zoom-range input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.modal-content-data-controls-zoom-range input[type="range"]::-webkit-slider-thumb,
.modal-content-data-controls-zoom-range input[type="range"]:focus-visible::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000;
    height: 18px;
    width: 18px;
    background: #343a40;
    cursor: pointer;
    margin-top: -3px;
}
.modal-content-data-controls-zoom-range input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    background: #343a40;
    cursor: pointer;
}
.modal-content-data-controls-zoom-range input[type="range"]::-ms-thumb {
    height: 18px;
    width: 18px;
    background: #343a40;
    cursor: pointer;
}
.modal-content-data-controls-zoom-range input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #6c757d;
}
.modal-content-data-controls-zoom-range input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #6c757d;
}
.modal-content-data-controls-zoom-range input[type="range"]::-moz-range-track {
    width: 100%;
    height: 18px;
    cursor: pointer;
    background: #6c757d;
}
.modal-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 760px;
    max-width: 1120px;
    position: fixed;
    z-index: 20;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f8f9fa;
    border: 1px solid #000;
}
.set-photo-table-data {
    max-height: 440px;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(C:\OpenServer\domains\localhost\react_lab\exp-photo-table\server\static\static\media\Roboto-Regular.a8d6ac03.ttf);
}
body,
html {
    min-height: 100vh;
    box-sizing: border-box;
}
/*# sourceMappingURL=main.0d887d09.chunk.css.map */
