@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* height: calc(100vh - 2px); */
  height: 100vh;
  max-width: 1400px;
  min-width: 768px;
  margin: 0 auto;
  background-color: #f8f9fa;
  border: 1px solid #000;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header-tools {
  width: 100%;
  height: 20px;
  background-color: #343a40;
  -webkit-app-region: drag;
}

.header {
  display: flex;
  flex-grow: 1;
  max-width: 1400px;
  min-width: 768px;
  height: 50px;
  background-color: #343a40;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 10px 0 30px;
  font-size: 24px;
  font-family: "Roboto";
  color: #fff;
}

.menu {
  display: flex;
  font-size: 14px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

.menu-item a:hover {
  color: #fff;
}

.menu-not-active a {
  color: #6c757d;
}

.file {
  display: none;
}

.main-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  max-width: 1400px;
  min-width: 768px;
  padding: 10px;
  max-height: calc(100vh - 52px);
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 518px;
  flex-wrap: wrap;
  max-width: 1150px;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 4px 10px 0;
  border: 1px solid #000;
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.gallery::-webkit-scrollbar {
  width: 6px;
}

.gallery::-webkit-scrollbar-track {
  background-color: #6c757d;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: #343a40;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  flex-basis: 132px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  line-height: 1;
  height: 213px;
  margin: 10px 0 0 10px;
}

.gallery-item-hold {
  /* border: 1px solid #000; */
  /* background: rgba(0, 0, 0, 0.0); */
}

.gallery-item-hide {
  opacity: 0.3;
  /* display: none; */
}

.gallery-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  text-align: center;
}

.gallery-item-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 188px;
}

.gallery-item-img img {
  object-fit: scale-down;
  object-position: top center;
  height: 100%;
  width: 100%;
}

.workplace {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 220px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  font-family: "Roboto";
  margin-left: 10px;
  padding-bottom: 10px;
  border: 1px solid #000;
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.workplace::-webkit-scrollbar {
  width: 3px;
}

.workplace::-webkit-scrollbar-track {
  background-color: #6c757d;
}

.workplace::-webkit-scrollbar-thumb {
  background-color: #343a40;
}

.workplace-item {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  align-items: center;
  height: 220px;
  margin: 10px 0 0 0;
  border: 1px solid #000;
}

.workplace-item-new {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  align-items: center;
  height: 220px;
  margin: 10px 0 0 0;
  border: 1px dashed #000;
}

.workplace-item-new-hovered {
  background-color: #c4c4c4;
}

.workplace-item-name {
  display: flex;
  flex-basis: 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.workplace-item-img {
  display: flex;
  flex-grow: 1;
  width: 100%;
  /* background-color: #c4c4c4; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.workplace-item-text {
  display: flex;
  flex-basis: 50px;
  align-items: center;
  font-size: 10px;
  line-height: 1;
  text-align: center;
}

.workplace-item-plus {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-image: url("../../../images/plus-circle-dotted.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
  pointer-events: none;
}

.workplace-data-btn {
  display: flex;
  flex-basis: 200px;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  /* font-weight: 500; */
  line-height: 1;
  text-align: center;
  margin: 10px 0 0 0;
  border: 1px solid #000;
}

.workplace-data-btn:hover {
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  cursor: default;
}
