.gallery {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 518px;
  flex-wrap: wrap;
  max-width: 1150px;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 4px 10px 0;
  border: 1px solid #000;
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.gallery::-webkit-scrollbar {
  width: 6px;
}

.gallery::-webkit-scrollbar-track {
  background-color: #6c757d;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: #343a40;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  flex-basis: 132px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  line-height: 1;
  height: 213px;
  margin: 10px 0 0 10px;
}

.gallery-item-hold {
  /* border: 1px solid #000; */
  /* background: rgba(0, 0, 0, 0.0); */
}

.gallery-item-hide {
  opacity: 0.3;
  /* display: none; */
}

.gallery-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  text-align: center;
}

.gallery-item-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 188px;
}

.gallery-item-img img {
  object-fit: scale-down;
  object-position: top center;
  height: 100%;
  width: 100%;
}
