.menu-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

.menu-item a:hover {
  color: #fff;
}

.menu-not-active a {
  color: #6c757d;
}

.file {
  display: none;
}
