.modal-content-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  color: #fff;
  padding: 20px 0;
}

.modal-content-preview img {
  max-height: 700px;
  max-width: 100%;
}
