@charset "UTF-8";
.modal-content-grid-edit {
  display: grid;
  grid-template-columns: 50px 1fr 300px;
  height: 100%;
}

.modal-content-grid-edit .modal-content-grid-tools-left {
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: 40px;
  grid-template-rows: 40px 40px 40px 40px 1fr;
  grid-gap: 5px;
  margin: 5px;
}

.modal-content-grid-edit .modal-content-grid-tools-left-hand, .modal-content-grid-edit .modal-content-grid-tools-left-hand-active, .modal-content-grid-edit .modal-content-grid-tools-left-arrow, .modal-content-grid-edit .modal-content-grid-tools-left-arrow-active, .modal-content-grid-edit .modal-content-grid-tools-left-textDesc, .modal-content-grid-edit .modal-content-grid-tools-left-textDesc-active, .modal-content-grid-edit .modal-content-grid-tools-left-imgDesc, .modal-content-grid-edit .modal-content-grid-tools-left-imgDesc-active {
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-content-grid-edit .modal-content-grid-tools-left-hand {
  background-image: url("../img/btnHand.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-hand-active {
  background-image: url("../img/btnHandActive.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-arrow {
  background-image: url("../img/btnArrow.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-arrow-active {
  background-image: url("../img/btnArrowActive.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-textDesc {
  background-image: url("../img/btnTextDesc.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-textDesc-active {
  background-image: url("../img/btnTextDescActive.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-imgDesc {
  background-image: url("../img/btnDescription.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-imgDesc-active {
  background-image: url("../img/btnDescriptionActive.svg");
}

.modal-content-grid-edit .modal-content-grid-canvas {
  display: grid;
  grid-column: 2 / 3;
  background: #ccc;
  border: 1px solid #000;
}

.modal-content-grid-edit .modal-content-grid-canvas-grab {
  cursor: grab;
}

.modal-content-grid-edit .modal-content-grid-canvas-grabbing {
  cursor: grabbing;
}

.modal-content-grid-edit .modal-content-grid-properties-right {
  display: grid;
  grid-column: 3 / 4;
  margin: 5px;
  grid-template-rows: 50px minmax(50px, max-content) repeat(auto-fill, 50px);
  grid-gap: 5px 5px;
  position: relative;
}

.modal-content-grid-edit .modal-content-grid-properties-right-title {
  display: grid;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 40px));
  grid-gap: 5px 5px;
  padding: 5px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-vertical, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-vertical-active, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-horizontal, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-horizontal-active, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-panorama, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-panorama-active {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-vertical {
  background-image: url("../img/btnOrientationVertical.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-horizontal {
  background-image: url("../img/btnOrientationHorizontal.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-panorama {
  background-image: url("../img/btnOrientationPanorama.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-vertical-active {
  background-image: url("../img/btnOrientationVerticalActive.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-horizontal-active {
  background-image: url("../img/btnOrientationHorizontalActive.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-panorama-active {
  background-image: url("../img/btnOrientationPanoramaActive.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom {
  display: grid;
  grid-template-rows: 25px 25px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range {
  height: 25px;
  /*Сбрасывание стилей Range*/
  /*Стили для ползунка*/
  /* Специальные стили для WebKit/Blink */
  /* Все то же самое для Firefox */
  /* Все то же самое для IE */
  /*Стили для шкалы*/
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"] {
  -webkit-appearance: none;
  /* Скрываем слайдер, чтобы иметь возможность создать пользовательский слайдер. */
  width: 100%;
  /* Для Firefox нужна отдельная ширина. */
  margin: 0;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]:focus {
  outline: none;
  /* Удаляем синюю рамку. Для доступности на различных платформах вам нужно применить кое-какой трюк со стилями. */
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Скрываем слайдер, чтобы иметь возможность добавить собственные стили */
  border-color: transparent;
  color: transparent;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
  margin-top: -3px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]:focus-visible::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
  margin-top: -3px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-ms-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6c757d;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-scale {
  display: grid;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  height: 25px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-arrow-color {
  display: grid;
  grid-template-rows: 50px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-arrow-color input {
  width: 100%;
  height: 100%;
}

.modal-content-grid-edit .modal-content-grid-properties-right-cut {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 5px;
  align-items: center;
  padding: 5px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-cut-btn {
  height: 40px;
  width: 40px;
  background-image: url("../img/btnScissors.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-edit .modal-content-grid-properties-right-cut-btn-active {
  height: 40px;
  width: 40px;
  background-image: url("../img/btnScissorsActive.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-edit .modal-content-grid-properties-right-cut-condition {
  display: grid;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  height: 25px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-block {
  background-color: #f8f9fa;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.modal-content-grid-edit .modal-content-grid-properties-right-list_item {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  align-items: center;
  grid-gap: 5px 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  height: 25px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-list_item-number {
  display: grid;
  align-items: center;
  height: 25px;
  text-align: center;
}

.modal-content-grid-edit .modal-content-grid-properties-right-list_item-delete {
  width: 25px;
  height: 25px;
  background-image: url("../img/smallCros.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-list_item input {
  background-color: #f8f9fa;
  height: 25px;
  padding: 0 5px;
  border: 1px solid #343a40;
  border-radius: 0;
  outline: none;
}

.modal-content-grid-edit .modal-content-grid-properties-right-text-area {
  display: grid;
  padding: 0 5px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-text-area textarea {
  background-color: #f8f9fa;
  resize: none;
  border: 1px solid #343a40;
  border-radius: 0;
  outline: none;
}
