@charset "UTF-8";
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 710px;
  font-family: "Roboto";
  color: #fff;
  padding: 20px 0;
}

.modal-content img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  height: 100%;
  width: 100%;
}

.modal-content-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 710px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  padding: 20px 20px;
}

.modal-content-data-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.modal-content-data-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content-data img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center top;
     object-position: center top;
  height: 65%;
  width: 65%;
}

.modal-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 50px;
  width: 300px;
}

.modal-content-data textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  /* max-width: 800px; */
  /* min-width: 400px; */
  border: 1px solid #000;
  border-radius: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  outline: none;
  resize: none;
  padding: 0;
}

.modal-content-data input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 300px;
  border: 1px solid #000;
  border-radius: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  outline: none;
}

.modal-content-data input[type="text"],
.modal-content-data input[type="number"] {
  padding: 0;
}

.modal-content-data select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 300px;
  border: 1px solid #000;
  border-radius: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  outline: none;
}

.modal-content-data-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
}

.modal-content-data-controls-orientation,
.modal-content-data-controls-zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

.modal-content-data-controls-orientation-title,
.modal-content-data-controls-zoom-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50px;
}

.modal-content-data-controls-orientation-vertical,
.modal-content-data-controls-orientation-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 25px;
  font-size: 18px;
  cursor: pointer;
}

.modal-content-data-controls-zoom-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
}

/*Сбрасывание стилей Range*/
.modal-content-data-controls-zoom-range input[type="range"] {
  -webkit-appearance: none;
  /* Скрываем слайдер, чтобы иметь возможность создать пользовательский слайдер. */
  width: 100%;
  /* Для Firefox нужна отдельная ширина. */
}

.modal-content-data-controls-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.modal-content-data-controls-zoom-range input[type="range"]:focus {
  outline: none;
  /* Удаляем синюю рамку. Для доступности на различных платформах вам нужно применить кое-какой трюк со стилями. */
}

.modal-content-data-controls-zoom-range input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Скрываем слайдер, чтобы иметь возможность добавить собственные стили */
  border-color: transparent;
  color: transparent;
}

/*Стили для ползунка*/
/* Специальные стили для WebKit/Blink */
.modal-content-data-controls-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
  margin-top: -3px;
}

.modal-content-data-controls-zoom-range input[type="range"]:focus-visible::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
  margin-top: -3px;
}

/* Все то же самое для Firefox */
.modal-content-data-controls-zoom-range input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

/* Все то же самое для IE */
.modal-content-data-controls-zoom-range input[type="range"]::-ms-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

/*Стили для шкалы*/
.modal-content-data-controls-zoom-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-data-controls-zoom-range input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6c757d;
}

.modal-content-data-controls-zoom-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #6c757d;
}
