.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  /* max-height: 760px; */
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: fixed;
  z-index: 30;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f8f9fa;
  border: 1px solid #000;
}
