.modal-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: max-content;
  /* max-height: 760px; */
  max-width: max-content;
  position: fixed;
  z-index: 30;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f8f9fa;
  border: 1px solid #000;
}
