.modal-container-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  z-index: 30;
  background-color: #f8f9fa;
  border: 1px solid #000;
}
