@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

html,
body {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* height: calc(100vh - 2px); */
  height: 100vh;
  max-width: 1400px;
  min-width: 768px;
  margin: 0 auto;
  background-color: #f8f9fa;
  border: 1px solid #000;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  flex-grow: 1;
  max-width: 1400px;
  min-width: 768px;
  height: 50px;
  background-color: #343a40;
}

.menu {
  display: flex;
  font-size: 14px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

.menu-item a:hover {
  color: #fff;
}

.menu-not-active a {
  color: #6c757d;
}

.file {
  display: none;
}

.main-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  max-width: 1400px;
  min-width: 768px;
  padding: 10px;
  max-height: calc(100vh - 52px);
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 518px;
  flex-wrap: wrap;
  max-width: 1150px;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 4px 10px 0;
  border: 1px solid #000;
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.gallery::-webkit-scrollbar {
  width: 6px;
}

.gallery::-webkit-scrollbar-track {
  background-color: #6c757d;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: #343a40;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  flex-basis: 132px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  line-height: 1;
  height: 213px;
  margin: 10px 0 0 10px;
}

.gallery-item-hold {
  /* border: 1px solid #000; */
  /* background: rgba(0, 0, 0, 0.0); */
}

.gallery-item-hide {
  opacity: 0.3;
  /* display: none; */
}

.gallery-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  text-align: center;
}

.gallery-item-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 188px;
}

.gallery-item-img img {
  object-fit: scale-down;
  object-position: top center;
  height: 100%;
  width: 100%;
}

.workplace {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 220px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  font-family: "Roboto";
  margin-left: 10px;
  padding-bottom: 10px;
  border: 1px solid #000;
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.workplace::-webkit-scrollbar {
  width: 3px;
}

.workplace::-webkit-scrollbar-track {
  background-color: #6c757d;
}

.workplace::-webkit-scrollbar-thumb {
  background-color: #343a40;
}

.workplace-item {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  align-items: center;
  height: 220px;
  margin: 10px 0 0 0;
  border: 1px solid #000;
}

.workplace-item-new {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  align-items: center;
  height: 220px;
  margin: 10px 0 0 0;
  border: 1px dashed #000;
}

.workplace-item-new-hovered {
  background-color: #c4c4c4;
}

.workplace-item-name {
  display: flex;
  flex-basis: 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.workplace-item-img {
  display: flex;
  flex-grow: 1;
  width: 100%;
  /* background-color: #c4c4c4; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.workplace-item-text {
  display: flex;
  flex-basis: 50px;
  align-items: center;
  font-size: 10px;
  line-height: 1;
  text-align: center;
}

.workplace-item-plus {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-image: url("../img/plus-circle-dotted.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
  pointer-events: none;
}

.workplace-data-btn {
  display: flex;
  flex-basis: 200px;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
  /* font-weight: 500; */
  line-height: 1;
  text-align: center;
  margin: 10px 0 0 0;
  border: 1px solid #000;
}

.workplace-data-btn:hover {
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  cursor: default;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.lightening-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.5);
  z-index: 20;
}

.modal-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: max-content;
  /* max-height: 760px; */
  max-width: max-content;
  position: fixed;
  z-index: 30;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f8f9fa;
  border: 1px solid #000;
}

.modal-container-preview {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  z-index: 30;
  background-color: #f8f9fa;
  border: 1px solid #000;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  background-color: #343a40;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 10px 0 30px;
  font-size: 24px;
  font-family: "Roboto";
  color: #fff;
}

.menu-btns {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.check-btn {
  height: 50px;
  width: 50px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.check-btn:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

.close-btn {
  height: 50px;
  width: 50px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.close-btn:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  max-height: 710px;
  font-family: "Roboto";
  color: #fff;
  padding: 20px 0;
}

.modal-content img {
  object-fit: contain;
  object-position: center center;
  height: 100%;
  width: 100%;
}

.modal-content-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  max-height: 710px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  padding: 20px 20px;
}

.modal-content-data-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.modal-content-data-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content-data img {
  object-fit: contain;
  object-position: center top;
  height: 65%;
  width: 65%;
}

.modal-content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  width: 300px;
}

.modal-content-data textarea {
  display: flex;
  justify-content: center;
  width: 300px;
  /* max-width: 800px; */
  /* min-width: 400px; */
  border: 1px solid #000;
  border-radius: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  outline: none;
  resize: none;
  padding: 0;
}

.modal-content-data input {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 300px;
  border: 1px solid #000;
  border-radius: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  outline: none;
}

.modal-content-data input[type="text"],
.modal-content-data input[type="number"] {
  padding: 0;
}

.modal-content-data select {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 300px;
  border: 1px solid #000;
  border-radius: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  outline: none;
}

.modal-content-data-controls {
  display: flex;
  width: 700px;
}

.modal-content-data-controls-orientation,
.modal-content-data-controls-zoom {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.modal-content-data-controls-orientation-title,
.modal-content-data-controls-zoom-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
}

.modal-content-data-controls-orientation-vertical,
.modal-content-data-controls-orientation-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25px;
  font-size: 18px;
  cursor: pointer;
}

.modal-content-data-controls-zoom-range {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

/*Сбрасывание стилей Range*/
.modal-content-data-controls-zoom-range input[type="range"] {
  -webkit-appearance: none;
  /* Скрываем слайдер, чтобы иметь возможность создать пользовательский слайдер. */
  width: 100%;
  /* Для Firefox нужна отдельная ширина. */
}

.modal-content-data-controls-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.modal-content-data-controls-zoom-range input[type="range"]:focus {
  outline: none;
  /* Удаляем синюю рамку. Для доступности на различных платформах вам нужно применить кое-какой трюк со стилями. */
}

.modal-content-data-controls-zoom-range input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Скрываем слайдер, чтобы иметь возможность добавить собственные стили */
  border-color: transparent;
  color: transparent;
}

/*Стили для ползунка*/
/* Специальные стили для WebKit/Blink */
.modal-content-data-controls-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
  margin-top: -3px;
}

.modal-content-data-controls-zoom-range input[type="range"]:focus-visible::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
  margin-top: -3px;
}

/* Все то же самое для Firefox */
.modal-content-data-controls-zoom-range input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

/* Все то же самое для IE */
.modal-content-data-controls-zoom-range input[type="range"]::-ms-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

/*Стили для шкалы*/
.modal-content-data-controls-zoom-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-data-controls-zoom-range input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6c757d;
}

.modal-content-data-controls-zoom-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}

.modal-content-grid-settings-container {
  display: grid;
  grid-template-rows: 50px 150px;
}

.modal-content-grid-settings-note {
  grid-column-start: 1;
  grid-column-end: 3;
}

.modal-content-grid-settings-unit {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.modal-content-grid-settings-employee {
  grid-column-start: 3;
  grid-column-end: 5;
}

.modal-content-grid-settings-employee-list {
  display: grid;
  grid-template-rows: 50px;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}

.modal-content-grid-settings-title {
  display: grid;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
}

.modal-content-grid-settings-textarea {
  display: grid;
  padding: 10px;
}

.modal-content-grid-settings-textarea textarea {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  padding: 0;
  border: 1px solid #000;
  border-radius: 0;
  outline: none;
  resize: none;
  overflow: auto;
}

.modal-content-grid-settings-textarea textarea::-webkit-scrollbar {
  width: 2px;
  height: 0;
}

.modal-content-grid-settings-textarea textarea::-webkit-scrollbar-thumb {
  background-color: #343a40;
}

.modal-content-grid-settings-input {
  display: grid;
  align-items: start;
  padding: 10px;
}

.modal-content-grid-settings-input input {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  height: 40px;
  padding: 0;
  border: 1px solid #000;
  border-radius: 0;
  outline: none;
}

.modal-content-grid-settings-list {
  display: grid;
  gap: 10px;
  align-content: start;
  padding: 10px;
}

.modal-content-grid-settings-employee .modal-content-grid-settings-input {
  grid-template-columns: 1fr 52px;
}

.plus-btn {
  height: 42px;
  width: 42px;
  margin-left: 10px;
  background-image: url("../img/plus-square.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.plus-btn:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

.modal-content-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  color: #fff;
  padding: 20px 0;
}

.modal-content-preview img {
  max-height: 700px;
  max-width: 100%;
}

.modal-content-grid-settings-list-item {
  display: grid;
  grid-template-columns: 1fr 52px;
}

.modal-content-grid-settings-list-item-name {
  display: grid;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
  text-overflow: hidden;
  height: 40px;
  border: 1px solid #000;
  /* overflow: hidden; */
}

.modal-content-grid-settings-list-item-del-btn {
  height: 42px;
  width: 42px;
  margin-left: 10px;
  background-image: url("../img/plus-cros.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.modal-content-grid-edit {
  display: grid;
  grid-template-columns: 50px 1fr 300px;
  height: 100%;
}

.modal-content-grid-edit .modal-content-grid-tools-left {
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: 40px;
  grid-template-rows: 40px 40px 40px 40px 1fr;
  grid-gap: 5px;
  margin: 5px;
}

.modal-content-grid-edit .modal-content-grid-tools-left-hand, .modal-content-grid-edit .modal-content-grid-tools-left-hand-active, .modal-content-grid-edit .modal-content-grid-tools-left-arrow, .modal-content-grid-edit .modal-content-grid-tools-left-arrow-active, .modal-content-grid-edit .modal-content-grid-tools-left-textDesc, .modal-content-grid-edit .modal-content-grid-tools-left-textDesc-active, .modal-content-grid-edit .modal-content-grid-tools-left-imgDesc, .modal-content-grid-edit .modal-content-grid-tools-left-imgDesc-active {
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-content-grid-edit .modal-content-grid-tools-left-hand {
  background-image: url("../img/btnHand.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-hand-active {
  background-image: url("../img/btnHandActive.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-arrow {
  background-image: url("../img/btnArrow.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-arrow-active {
  background-image: url("../img/btnArrowActive.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-textDesc {
  background-image: url("../img/btnTextDesc.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-textDesc-active {
  background-image: url("../img/btnTextDescActive.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-imgDesc {
  background-image: url("../img/btnDescription.svg");
}

.modal-content-grid-edit .modal-content-grid-tools-left-imgDesc-active {
  background-image: url("../img/btnDescriptionActive.svg");
}

.modal-content-grid-edit .modal-content-grid-canvas {
  display: grid;
  grid-column: 2 / 3;
  background: #ccc;
  border: 1px solid #000;
}

.modal-content-grid-edit .modal-content-grid-canvas-grab {
  cursor: grab;
}

.modal-content-grid-edit .modal-content-grid-canvas-grabbing {
  cursor: grabbing;
}

.modal-content-grid-edit .modal-content-grid-properties-right {
  display: grid;
  grid-column: 3 / 4;
  margin: 5px;
  grid-template-rows: 50px minmax(50px, max-content) repeat(auto-fill, 50px);
  grid-gap: 5px 5px;
  position: relative;
}

.modal-content-grid-edit .modal-content-grid-properties-right-title {
  display: grid;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 40px));
  grid-gap: 5px 5px;
  padding: 5px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-vertical, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-vertical-active, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-horizontal, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-horizontal-active, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-panorama, .modal-content-grid-edit .modal-content-grid-properties-right-orientation-panorama-active {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-vertical {
  background-image: url("../img/btnOrientationVertical.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-horizontal {
  background-image: url("../img/btnOrientationHorizontal.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-panorama {
  background-image: url("../img/btnOrientationPanorama.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-vertical-active {
  background-image: url("../img/btnOrientationVerticalActive.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-horizontal-active {
  background-image: url("../img/btnOrientationHorizontalActive.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-orientation-panorama-active {
  background-image: url("../img/btnOrientationPanoramaActive.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom {
  display: grid;
  grid-template-rows: 25px 25px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range {
  height: 25px;
  /*Сбрасывание стилей Range*/
  /*Стили для ползунка*/
  /* Специальные стили для WebKit/Blink */
  /* Все то же самое для Firefox */
  /* Все то же самое для IE */
  /*Стили для шкалы*/
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"] {
  -webkit-appearance: none;
  /* Скрываем слайдер, чтобы иметь возможность создать пользовательский слайдер. */
  width: 100%;
  /* Для Firefox нужна отдельная ширина. */
  margin: 0;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]:focus {
  outline: none;
  /* Удаляем синюю рамку. Для доступности на различных платформах вам нужно применить кое-какой трюк со стилями. */
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Скрываем слайдер, чтобы иметь возможность добавить собственные стили */
  border-color: transparent;
  color: transparent;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
  margin-top: -3px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]:focus-visible::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
  margin-top: -3px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-ms-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6c757d;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid-edit .modal-content-grid-properties-right-zoom-scale {
  display: grid;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  height: 25px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-arrow-color {
  display: grid;
  grid-template-rows: 50px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-arrow-color input {
  width: 100%;
  height: 100%;
}

.modal-content-grid-edit .modal-content-grid-properties-right-cut {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 5px;
  align-items: center;
  padding: 5px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-cut-btn {
  height: 40px;
  width: 40px;
  background-image: url("../img/btnScissors.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-edit .modal-content-grid-properties-right-cut-btn-active {
  height: 40px;
  width: 40px;
  background-image: url("../img/btnScissorsActive.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-edit .modal-content-grid-properties-right-cut-condition {
  display: grid;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  height: 25px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-block {
  background-color: #f8f9fa;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.modal-content-grid-edit .modal-content-grid-properties-right-list_item {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  align-items: center;
  grid-gap: 5px 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  height: 25px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-list_item-number {
  display: grid;
  align-items: center;
  height: 25px;
  text-align: center;
}

.modal-content-grid-edit .modal-content-grid-properties-right-list_item-delete {
  width: 25px;
  height: 25px;
  background-image: url("../img/smallCros.svg");
}

.modal-content-grid-edit .modal-content-grid-properties-right-list_item input {
  background-color: #f8f9fa;
  height: 25px;
  padding: 0 5px;
  border: 1px solid #343a40;
  border-radius: 0;
  outline: none;
}

.modal-content-grid-edit .modal-content-grid-properties-right-text-area {
  display: grid;
  padding: 0 5px;
}

.modal-content-grid-edit .modal-content-grid-properties-right-text-area textarea {
  background-color: #f8f9fa;
  resize: none;
  border: 1px solid #343a40;
  border-radius: 0;
  outline: none;
}
