@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}

html,
body {
    min-height: 100vh;
    box-sizing: border-box;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './Container';
@import './Modal';
@import './LighteningBackground';
@import './ModalContainer';
@import './ModalContainer2';
@import './ModalHeader';
@import './Logo';
@import './MenuBtns';
@import './MenuBtnsCheckBtn';
@import './MenuBtnsCloseBtn';
@import './ModalContent';
@import './ModalContentGrid';
@import './ModalContentPreview';
