.main-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    min-width: 0;
    height: 100%;
}

.main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    min-width: 0;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}