.gallery {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 518px;
    flex-wrap: wrap;
    max-width: 100%;

    justify-content: flex-start;
    align-content: flex-start;

    padding: 0 4px 10px 0;

    border: 1px solid rgba(147, 145, 145, 0.539);
    border-radius: 5px;

    box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);

    overflow-y: auto;
}

.gallery::-webkit-scrollbar {
    width: 6px;
}

.gallery::-webkit-scrollbar-track {
    background-color: #dbd9d9;
    border-radius: 5px;
}

.gallery::-webkit-scrollbar-thumb {
    background-color: #dbd9d9;
    opacity: 0.3;
    border-radius: 10px;
}

.gallery::-webkit-scrollbar-thumb:hover {
    background-color: #595a5a;
    transition: 5ms;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    flex-basis: 132px;

    font-family: "Roboto", Times, serif;
    font-size: 12px;
    line-height: 1;

    height: 213px;

    margin: 10px 0 0 10px;
    border-radius:7px;
    box-shadow: 2px 2px 8px rgba(154, 155, 155, 0.884);
}

.gallery-item-hold {
    
    border-radius:7px;
    box-shadow: 2px 2px 8px rgba(154, 155, 155, 0.884);
}

.gallery-item-hide {
    opacity: 0.3;
    border-radius:7px;
}

.gallery-item-name {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 25px;

    text-align: center;
}

.gallery-item-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 188px;
}

.gallery-item-img img {
    object-fit: scale-down;
    object-position: top center;

    height: 100%;
    width: 100%;
}
