.image-viewer-wrapper-6X9 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 255px;
    max-height: 180px;
    
    margin-top: 5px;
    
    font-family: 'Times New Roman', Times, serif;
    
    overflow: hidden;
}

.image-viewer-6X9 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-height: 135px;
}

.image-viewer-photo-6X9 {
    object-fit: contain;
    width: 100%;
    height: 113px;
}

.image-viewer-photo-6X9-description {
    width: 100%;
    font-size: 8px;
}


.image-viewer-photo-6X9-description span {
    font-weight: 800;
}