.image-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    
    width: 255px;
    max-height: 175px;

    margin-top: 5px;
    
    font-family: 'Times New Roman', Times, serif;
}
.image-viewer-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-viewer-photo-description {
    width: 100%;
    
    font-size: 8px;
}
.image-viewer-photo-description span {
    font-weight: 800;
}