.image-viewer-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 255px;
    max-height: 200px;
    font-family: 'Times New Roman',
        Times,
        serif;
    overflow: hidden;
}
.image-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 170px;
}
.image-viewer-photo {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.image-viewer-photo-description {
    width: 100%;
    font-size: 8px;
    max-height: 100%;
}
.image-viewer-photo-description span {
    font-weight: 800;
}