.orientation-place {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 180px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    font-family: "Roboto";

    margin-left: 10px;

    border: 1px solid rgba(147, 145, 145, 0.539);
    border-radius: 5px;

    box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);

    overflow: auto;
    height: 97%;
}