.preview-title-page {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: 294px;
    align-items: center;
    height: 415px;
    margin: 10px 0 0 0;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%),
        -23px 0 20px -23px rgb(0 0 0 / 80%),
        23px 0 20px -23px rgb(0 0 0 / 80%),
        0 0 40px rgb(0 0 0 / 10%) inset;
    padding: 13px 13px 13px 26px;
    font-family: 'Times New Roman', Times, serif;
}

.preview-title-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
}

.preview-title-page-adres,
.preview-title-page-description,
.preview-title-page-executor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 8px;
}

.preview-title-page-adres {
    margin-top: 10px;
}

.preview-title-page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-top: 12px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.preview-title-page-description {
    margin-top: 10px;
}

.preview-title-page-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.preview-title-page-photo-description {
    display: flex;
    width: 170px;
    justify-content: flex-start;
    font-size: 8px;
}

.preview-title-page-executor {
    margin-top: 20px;
    position: absolute;
    bottom: 13px;
}

.preview-title-page-separator {
    width: 100%;
    height: 1px;
    background-color: rgb(95, 94, 94);
}