.workplace {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 220px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    font-family: "Roboto";

    margin-left: 10px;
    padding-bottom: 10px;

    border: 1px solid #000;

    box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);

    overflow: auto;
}
.workplace::-webkit-scrollbar {
    width: 3px;
}
.workplace::-webkit-scrollbar-track {
    background-color: #6c757d;
}
.workplace::-webkit-scrollbar-thumb {
    background-color: #343a40;
}
.workplace-item {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;

    height: 220px;

    margin: 10px 0 0 0;

    border: 1px solid #000;
}
.workplace-item-new {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;

    height: 220px;

    margin: 10px 0 0 0;

    border: 1px dashed #000;
}
.workplace-item-new-hovered {
    background-color: #c4c4c4;
}
.workplace-item-name {
    display: flex;
    flex-basis: 20px;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: bold;

    width: 100%;

    text-align: center;

    pointer-events: none;
}
.workplace-item-img {
    display: flex;
    flex-grow: 1;

    width: 100%;

    /* background-color: #c4c4c4; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.workplace-item-text {
    display: flex;
    flex-basis: 50px;
    align-items: center;

    font-size: 10px;
    line-height: 1;
    text-align: center;
}
.workplace-item-plus {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-image: url("../../../images/plus-circle-dotted.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px 50px;
    
    pointer-events: none;
}


.workplace-data-btn {
    display: flex;
    flex-basis: 200px;
    justify-content: center;
    align-items: center;

    height: 50px;

    font-size: 20px;
    line-height: 1;
    text-align: center;

    margin: 10px 0 0 0;

    border: 1px solid #000;
}
.workplace-data-btn:hover {
    box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.5), 1px 1px 4px 0 rgba(0, 0, 0, 0.5);

    cursor: default;
}
