@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}

html,
body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

@import './containers/Container.scss';
@import './containers/Header.scss';
@import './components/header/Logo.scss';
@import './components/header/Menu.scss';
@import './components/header/MenuItem.scss';
@import './containers/Main.scss';
