.modal-content-grid-edit {
  display: grid;
  grid-template-columns: 50px 1fr 300px;
  height: 100%;
  overflow: auto;
}

/*modal-content-grid-tools-left*/
.modal-content-grid-tools-left {
  display: grid;
  grid-column: 1 / 2;

  grid-template-columns: 40px;
  grid-template-rows: 40px 40px 40px 40px 35px 1fr;

  grid-gap: 5px;

  margin: 5px;
}

.modal-content-grid-tools-left-hand,
.modal-content-grid-tools-left-hand-active,
.modal-content-grid-tools-left-arrow,
.modal-content-grid-tools-left-arrow-active,
.modal-content-grid-tools-left-textDesc,
.modal-content-grid-tools-left-textDesc-active,
.modal-content-grid-tools-left-imgDesc,
.modal-content-grid-tools-left-imgDesc-active,
.modal-content-grid-tools-left-contrast,
.modal-content-grid-tools-left-contrast-active {
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-content-grid-tools-left-hand {
  background-image: url("../../../../images/btnHand.svg");
}

.modal-content-grid-tools-left-hand:hover {
  transform: scale(1.1);
}

.modal-content-grid-tools-left-hand-active {
  background-image: url("../../../../images/btnHandActive.svg");
}

.modal-content-grid-tools-left-arrow {
  background-image: url("../../../../images/btnArrow.svg");
}

.modal-content-grid-tools-left-arrow:hover {
  transform: scale(1.1);
}

.modal-content-grid-tools-left-arrow-active {
  background-image: url("../../../../images/btnArrowActive.svg");
}

.modal-content-grid-tools-left-textDesc {
  background-image: url("../../../../images/btnTextDesc.svg");
}

.modal-content-grid-tools-left-textDesc:hover {
  transform: scale(1.1);
}

.modal-content-grid-tools-left-textDesc-active {
  background-image: url("../../../../images/btnTextDescActive.svg");
}

.modal-content-grid-tools-left-imgDesc {
  background-image: url("../../../../images/btnDescription.svg");
}

.modal-content-grid-tools-left-imgDesc:hover {
  transform: scale(1.1);
}

.modal-content-grid-tools-left-imgDesc-active {
  background-image: url("../../../../images/btnDescriptionActive.svg");
}
.modal-content-grid-tools-left-contrast {
  background-image: url("../../../../images/contrast_btn1-nonActive.svg");
}
.modal-content-grid-tools-left-contrast:hover {
  transform: scale(1.1);
}

.modal-content-grid-tools-left-contrast-active {
  background-image: url("../../../../images/contrast_btn1Active.svg");
}

/*modal-content-grid-canvas*/
.modal-content-grid-canvas {
  display: grid;
  grid-column: 2 / 3;

  background: #ccc;
}

.modal-content-grid-canvas-grab {
  cursor: grab;
}

.modal-content-grid-canvas-grabbing {
  cursor: grabbing;
}

/*modal-content-grid-properties-right*/
.modal-content-grid-properties-right {
  display: grid;
  grid-template-rows: repeat(auto-fill, 50px);
  /*grid-template-rows: 50px minmax(50px, max-content) repeat(auto-fill, 50px);*/
  grid-column: 3 / 4;
  grid-gap: 5px 5px;

  height: fit-content;

  margin: 5px;

  position: relative;
}

.modal-content-grid-properties-right-title {
  display: grid;
  align-items: center;

  font-family: "Roboto", Times, serif;
  font-size: 18px;
  text-align: center;

  overflow: hidden;
}

.modal-content-grid-properties-right-orientation {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 40px));
  grid-gap: 5px 5px;

  padding: 5px;
}

.modal-content-grid-properties-right-scale_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 40px));
  grid-gap: 5px 5px;

  padding: 5px;
}

.modal-content-grid-properties-right-orientation-vertical,
.modal-content-grid-properties-right-orientation-vertical-active,
.modal-content-grid-properties-right-orientation-horizontal,
.modal-content-grid-properties-right-orientation-horizontal-active,
.modal-content-grid-properties-right-orientation-panorama,
.modal-content-grid-properties-right-orientation-panorama-active,
.modal-content-grid-properties-right-orientation-9X6,
.modal-content-grid-properties-right-orientation-9X6-active,
.modal-content-grid-properties-right-orientation-6X9,
.modal-content-grid-properties-right-orientation-6X9-active,
.modal-content-grid-properties-right-orientation-scale_grid-btn,
.modal-content-grid-properties-right-orientation-scale_grid-btn-active {
  height: 40px;
  width: 40px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-properties-right-orientation-vertical {
  background-image: url("../../../../images/btnOrientationVertical.svg");
}

.modal-content-grid-properties-right-orientation-horizontal {
  background-image: url("../../../../images/btnOrientationHorizontal.svg");
}

.modal-content-grid-properties-right-orientation-panorama {
  background-image: url("../../../../images/btnOrientationPanorama.svg");
}

.modal-content-grid-properties-right-orientation-9X6 {
  background-image: url("../../../../images/btnOrientationHorizontal9x6.svg");
}

.modal-content-grid-properties-right-orientation-6X9 {
  background-image: url("../../../../images/btnOrientationVertical6x9.svg");
}
.modal-content-grid-properties-right-orientation-scale_grid-btn {
  background-image: url("../../../../images/btnScaleGrid.svg");
}

.modal-content-grid-properties-right-orientation-vertical-active {
  background-image: url("../../../../images/btnOrientationVerticalActive.svg");
}

.modal-content-grid-properties-right-orientation-horizontal-active {
  background-image: url("../../../../images/btnOrientationHorizontalActive.svg");
}

.modal-content-grid-properties-right-orientation-panorama-active {
  background-image: url("../../../../images/btnOrientationPanoramaActive.svg");
}

.modal-content-grid-properties-right-orientation-9X6-active {
  background-image: url("../../../../images/btnOrientationHorizonta9x6Active.svg");
}

.modal-content-grid-properties-right-orientation-6X9-active {
  background-image: url("../../../../images/btnOrientationVertical6x9Active.svg");
}
.modal-content-grid-properties-right-orientation-scale_grid-btn-active {
  background-image: url("../../../../images/btnScaleGridActive.svg");
}

.modal-content-grid-properties-right-zoom {
  display: grid;
  grid-template-rows: 25px 25px;
}

.modal-content-grid-properties-right-zoom-range {
  height: 25px;
}

/*Сбрасывание стилей Range*/
.modal-content-grid-properties-right-zoom-range input[type="range"] {
  -webkit-appearance: none;
  /* Скрываем слайдер, чтобы иметь возможность создать пользовательский слайдер. */
  width: 100%;
  /* Для Firefox нужна отдельная ширина. */
  margin: 0;
}

.modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.modal-content-grid-properties-right-zoom-range input[type="range"]:focus {
  outline: none;
  /* Удаляем синюю рамку. Для доступности на различных платформах вам нужно применить кое-какой трюк со стилями. */
}

.modal-content-grid-properties-right-zoom-range input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Скрываем слайдер, чтобы иметь возможность добавить собственные стили */
  border-color: transparent;
  color: transparent;
}

/*Стили для ползунка*/
/* Специальные стили для WebKit/Blink */
.modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;

  margin-top: -3px;
}

.modal-content-grid-properties-right-zoom-range input[type="range"]:focus-visible::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;

  margin-top: -3px;
}

/* Все то же самое для Firefox */
.modal-content-grid-properties-right-zoom-range input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

/* Все то же самое для IE */
.modal-content-grid-properties-right-zoom-range input[type="range"]::-ms-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

/*Стили для шкалы*/
.modal-content-grid-properties-right-zoom-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid-properties-right-zoom-range input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6c757d;
}

.modal-content-grid-properties-right-zoom-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid-properties-right-zoom-scale {
  display: grid;
  align-items: center;

  font-family: "Roboto", Times, serif;
  font-size: 16px;
  text-align: center;

  overflow: hidden;

  height: 25px;
}

.modal-content-grid-properties-right-contrast {
  display: grid;
  grid-template-rows: 25px 25px;
}

.modal-content-grid-properties-right-contrast-range {
  height: 25px;
}

/*Сбрасывание стилей Range*/
.modal-content-grid-properties-right-contrast-range input[type="range"] {
  -webkit-appearance: none;
  /* Скрываем слайдер, чтобы иметь возможность создать пользовательский слайдер. */
  width: 100%;
  /* Для Firefox нужна отдельная ширина. */
  margin: 0;
}

.modal-content-grid-properties-right-contrast-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.modal-content-grid-properties-right-contrast-range input[type="range"]:focus {
  outline: none;
  /* Удаляем синюю рамку. Для доступности на различных платформах вам нужно применить кое-какой трюк со стилями. */
}

.modal-content-grid-properties-right-contrast-range input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Скрываем слайдер, чтобы иметь возможность добавить собственные стили */
  border-color: transparent;
  color: transparent;
}

/*Стили для ползунка*/
/* Специальные стили для WebKit/Blink */
.modal-content-grid-properties-right-contrast-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;

  margin-top: -3px;
}

.modal-content-grid-properties-right-contrast-range input[type="range"]:focus-visible::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;

  margin-top: -3px;
}

/* Все то же самое для Firefox */
.modal-content-grid-properties-right-contrast-range input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

/* Все то же самое для IE */
.modal-content-grid-properties-right-contrast-range input[type="range"]::-ms-thumb {
  height: 18px;
  width: 18px;
  background: #343a40;
  cursor: pointer;
}

/*Стили для шкалы*/
.modal-content-grid-properties-right-contrast-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid-properties-right-contrast-range input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #6c757d;
}

.modal-content-grid-properties-right-contrast-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #6c757d;
}

.modal-content-grid-properties-right-contrast-scale {
  display: grid;
  align-items: center;

  font-family: "Roboto", Times, serif;
  font-size: 16px;
  text-align: center;

  overflow: hidden;
  height: 25px;
}


.modal-content-grid-properties-right-arrow-color {
  display: grid;
  grid-template-rows: 50px;

  input {
    width: 100%;
    height: 100%;
  }
}

.modal-content-grid-properties-right-cut {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 5px;
  align-items: center;

  padding: 5px;
}

.modal-content-grid-properties-right-cut-btn {
  height: 40px;
  width: 40px;

  background-image: url("../../../../images/btnScissors.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-properties-right-cut-btn-active {
  height: 40px;
  width: 40px;

  background-image: url("../../../../images/btnScissorsActive.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.modal-content-grid-properties-right-cut-condition {
  display: grid;
  align-items: center;
  margin-right: 40px;
  font-family: "Roboto", Times, serif;
  font-size: 16px;
  text-align: center;

  overflow: hidden;

  height: 25px;
}

.modal-content-grid-properties-right-block {
  background-color: #f8f9fa;

  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  opacity: 0.5;
}

.modal-content-grid-properties-right-list_item {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  align-items: center;
  grid-gap: 5px 5px;

  font-family: "Roboto", Times, serif;
  font-size: 16px;
  height: 25px;
}
.modal-content-grid-properties-right-list_item-number {
  display: grid;
  align-items: center;

  height: 25px;

  text-align: center;
}

.modal-content-grid-properties-right-list_item-delete {
  width: 25px;
  height: 25px;
  background-color: #6c757dcc;
  border-radius: 7px;
  background-image: url("../../../../images/smallCros.svg");
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.modal-content-grid-properties-right-list_item-delete:hover {
  background-color: rgba(253, 5, 5, 0.829);
  transform: scale(1.1);
  box-shadow: -2px -2px 6px 0 rgba(0, 0, 0, 0.2), 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.modal-content-grid-properties-right-list_item-delete:active {
  transform: scale(1);
  box-shadow: none;
}
.modal-content-grid-properties-right-list_item input {
  background-color: #f8f9fa;

  height: 25px;

  padding: 0 5px;

  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 10px rgba(133, 131, 131, 0.747);
  outline: none;
}

.modal-content-grid-properties-right-text-area textarea {
  display: grid;
  margin-left: 15px;
  width: 250px;
  height: 250px;
  padding: 0 5px;
  box-shadow: 2px 2px 10px rgba(95, 96, 97, 0.726);
  border-radius: 7px;
  background-color: #f8f9fa;
  border: none;
  outline: none;
  resize: none;
}
